@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    font-family: "Roboto", sans-serif;
  }

  h1 {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .col {
    @apply flex flex-col;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .between {
    @apply flex items-center justify-between;
  }

  .evenly {
    @apply flex items-center justify-evenly;
  }

  .footer-button {
    @apply md:text-2xl p-2 border-r-2 border-black w-full center cursor-pointer;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(0%);
      opacity: 0;
    }
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slide-down 0.3s ease-in-out forwards;
  }
}
